@model CLWebApp.Models.ProductionSite

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ProductionSite</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="LoadRangeTest" /> @Html.DisplayNameFor(model => model.LoadRangeTest)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="RunIct" class="control-label"></label>
                <input asp-for="RunIct" class="form-control" />
                <span asp-validation-for="RunIct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="RunRangeTest" /> @Html.DisplayNameFor(model => model.RunRangeTest)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="LoadApplication" /> @Html.DisplayNameFor(model => model.LoadApplication)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ForceChannel" /> @Html.DisplayNameFor(model => model.ForceChannel)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Erase" /> @Html.DisplayNameFor(model => model.Erase)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="EnableFirmwareChange" /> @Html.DisplayNameFor(model => model.EnableFirmwareChange)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
