@model IEnumerable<CLWebApp.Models.FinalTestCount>
@{
    ViewData["Title"] = "Final Test Report";
}
<h2>@ViewData["Title"]</h2>
<br />

@foreach (var item in Model)
{
    <h3>
        @Html.DisplayFor(modelItem => item.Header.TotalCount)  @Html.DisplayFor(modelItem => item.Header.Sku)  @Html.DisplayFor(modelItem => item.Header.ProductName)
    </h3>

    <table class="table" border="1">
        <thead>
            <tr>
                <th text-align="right">Count</th>
                <th>Day</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var subitem in item.Items)
            {
                <tr>
                    <td align="right" width="100">
                        @Html.DisplayFor(s => subitem.TotalCount)
                    </td>
                    <td>
                        @Html.DisplayFor(s => subitem.CreatedDate)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
}

